<!DOCTYPE html>
<html>
    <head>
        <title>Reminder</title>
        <meta charset="UTF-8">
        <style>
            body {
                background-color: AliceBlue;
                font-family: sans-serif;
                color: black;
                text-align: center
            }
            h1 {
                color: red;
                padding-top: 50px
            }
            div {
                margin: auto;
                width: 50%;
                border: 2px solid green;
                padding: 20px;
                border-radius: 5px;
              }
        </style>
    </head>
    <body>
    <h1>Error!</h1>
    <div>
        You are trying to set a reminder for the past. Please choose the time at least 5 minutes befor the event.
    </div>
    </body>
</html>
