<!DOCTYPE html>
<html>
    <head>
        <title>Reminder</title>
        <meta charset="UTF-8">
        <style>
            body {
                background-color: AliceBlue;
                font-family: sans-serif;
                color: black;
                text-align: center
            }
            h1 {
                color: red;
                padding-top: 50px
            }
            div {
                margin: auto;
                width: 50%;
                border: 2px solid green;
                padding: 20px;
                border-radius: 5px;
              }
        </style>
    </head>
    <body>
    <h1>Success!</h1>
    <div>
        Your reminder for the event <b>{{event_name}}</b> is set.
        The event time in the <b>{{requested_timezone}}</b> is <b>{{reminder_datetime}}</b>.
        You will recieve two e-mails reminding you of the event an hour before
        and 5 minutes before, by the adress <b>{{user_email}}</b>.
    </div>
    </body>
</html>
